
  .warna1{
    background-color: #876445;
  }

  .warna2{
    background-color: #ca965c;
  }

  .warna3{
    background-color: #eec373;
  }

  .warna4{
    background-color: #f4dfba;
  }

  .no-decoration{
    text-decoration: none;
    color: #fff;
  }

  .no-decoration:hover{
    color: #eec373;
  }

  .stroke-text-white {
    color: #fff; /* Text color */
    -webkit-text-stroke: 1px black; /* Width and color of the stroke for WebKit browsers (Chrome, Safari) */
    text-stroke: 1px black; /* Width and color of the stroke for other browsers */
  }


  .banner{
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    background-image: url('/image/clark-street-mercantile-P3pI6xzovu0-unsplash.jpg');
  }

  .highlighted-kategori{
    height: 250px;
  }

  .kategori-baju-wanita{
    background-image: url('/image/dmitry-vechorko-d1Uas0zA86g-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
  }
  .kategori-sepatu{
    background-image: url('/image/maksim-larin-NOpsC3nWTzY-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
  }
  .kategori-baju-pria{
    background-image: url('/image/hunters-race-MYbhN8KaaEc-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
  }